<div
  class="window d-flex flex-column user-select-none position-absolute"
  cdkDrag
  cdkDragBoundary=".drag-boundary"
>
  <header class="d-flex flex-row text-white" cdkDragHandle>
    <div class="flex-fill h-100 p-1">
      <i [class]="iconName ?? 'bi-window'"></i> {{ title }}
    </div>
    <div>
      <button
        type="button"
        class="btn h-100 btn-sm text-white bi-dash-lg"
      ></button>
      <button
        type="button"
        class="btn h-100 btn-sm text-white bi-square"
      ></button>
      <button
        type="button"
        class="btn h-100 btn-sm text-white bi-x-lg"
        (click)="close()"
      ></button>
    </div>
  </header>
  <iframe class="flex-fill" [src]="src" [title]="title"></iframe>
</div>
