<form>
  <mat-form-field>
    <mat-label>Background Color</mat-label>
    <input
      matInput
      name="backgroundColor"
      type="color"
      [(ngModel)]="backgroundColor"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Background Image</mat-label>
    <mat-select [(ngModel)]="backgroundImage">
      <mat-option
        value="url(data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7)"
      >
        Star
      </mat-option>
      <mat-option
        value="url(https://media.giphy.com/media/xuXzcHMkuwvf2/giphy.gif)"
      >
        Pikachu
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Background Repeat</mat-label>
    <mat-select name="backgroundRepeat" [(ngModel)]="backgroundRepeat">
      <mat-option value="repeat">Repeat</mat-option>
      <mat-option value="repeat-x">Repeat X</mat-option>
      <mat-option value="repeat-y">Repeat Y</mat-option>
      <mat-option value="no-repeat">No Repeat</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Background Attachment</mat-label>
    <mat-select name="backgroundAttachment" [(ngModel)]="backgroundAttachment">
      <mat-option value="scroll">Scroll</mat-option>
      <mat-option value="fixed">Fixed</mat-option>
      <mat-option value="local">Local</mat-option></mat-select
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Background Position</mat-label>
    <mat-select name="backgroundPosition" [(ngModel)]="backgroundPosition">
      <mat-option value="left top">Left Top</mat-option>
      <mat-option value="left bottom">Left Bottom</mat-option>
      <mat-option value="left center">Left Center</mat-option>
      <mat-option value="right top">Right Top</mat-option>
      <mat-option value="right bottom">Right Bottom</mat-option>
      <mat-option value="right center">Right Center</mat-option>
      <mat-option value="center top">Center Top</mat-option>
      <mat-option value="center center">Center Center</mat-option>
      <mat-option value="center bottom">Center Bottom</mat-option></mat-select
    >
  </mat-form-field>
</form>
