<div class="d-flex flex-column h-100">
  <div class="flex-fill"></div>
  <footer class="d-flex flex-row">
    <div class="d-flex text-white">
      <div ngbDropdown placement="top-start">
        <button
          ngbDropdownToggle
          type="button"
          class="btn h-100 text-white caret-off"
          style="width:48px"
        >
          <img src="../../assets/images/angular-white-transparent.svg" />
        </button>
        <ul ngbDropdownMenu>
          <button
            *ngFor="let a of appService.applications"
            ngbDropdownItem
            class="btn"
            (click)="showApplication(a)"
          >
            <i [class]="a.iconName ?? 'bi-window'"></i> {{ a.title }}
          </button>
        </ul>
      </div>
      <button
        *ngFor="let kv of appService.windowComponentRefs | keyvalue"
        class="btn h-100 text-white caret-off"
        style="width:48px"
        [title]="kv.value.instance.title"
      >
        <i [class]="kv.value.instance.iconName ?? 'bi-window'"></i>
      </button>
      <button
        class="btn h-100 text-white caret-off"
        style="width:48px"
        title="Settings"
      >
        <i class="bi-gear-fill"></i>
      </button>
      <button
        class="btn h-100 text-white caret-off"
        style="width:48px"
        title="Logout"
      >
        <i class="bi-box-arrow-left"></i>
      </button>
    </div>
    <div class="flex-fill"></div>
    <div class="d-flex flex-column text-white user-select-none">
      <div style="text-align:right">{{ now | date: 'HH:mm' }}</div>
      <div>{{ now | date: 'dd.MM.yyyy' }}</div>
    </div>
  </footer>
</div>
