<div
  class="window d-flex flex-column user-select-none position-absolute"
  cdkDrag
  cdkDragBoundary=".drag-boundary"
  [style.visibility]="application.isHidden ? 'hidden' : 'visible'"
  [ngClass]="application.isMaximized ? 'window-maximized' : 'window-normal'"
>
  <header class="d-flex flex-row text-white" cdkDragHandle>
    <div class="flex-fill h-100 p-1">
      <i [class]="application.iconName ?? 'bi-window'"></i>
      {{ application.title }}
    </div>
    <div>
      <button
        type="button"
        class="btn h-100 btn-sm text-white bi-dash-lg"
        (click)="minimize()"
      ></button>
      <button
        *ngIf="!application.isMaximized"
        type="button"
        class="btn h-100 btn-sm text-white bi-fullscreen"
        (click)="maximize()"
      ></button>
      <button
        *ngIf="application.isMaximized"
        type="button"
        class="btn h-100 btn-sm text-white bi-fullscreen-exit"
        (click)="restore()"
      ></button>
      <button
        type="button"
        class="btn h-100 btn-sm text-white bi-x-lg"
        (click)="close()"
      ></button>
    </div>
  </header>
  <iframe
    class="flex-fill"
    [src]="application.src"
    [title]="application.title"
  ></iframe>
</div>
